<html ng-app>
  <head>
    <title>conn4.js</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="conn4ctrl.js"></script>
    <link rel="stylesheet" href="conn4.css">
  </head>


  <body>
    <div class="conn4" ng-controller="ConnFourCtrl">
      <div class="info">
	<div>Winner: <span ng-hide="winner">none yet...</span><span ng-show="winner">Player {{winner}}</span></div>
	<div>Draw: <span ng-hide="draw">no</span><span ng-show="draw">yes</span></div>
      </div>
      <div class="thinking">
	<img src="ajax-loader.gif" ng-show="thinking" />
      </div>

      <svg width="240" height="180">
	<rect width="100%" height="100%" style="fill: yellow;" />
	<g ng-repeat="row in board" transform="translate(30, {{ ($index + 1) * 25 }})">
	  <circle ng-repeat="col in row track by $index" cx="{{ $index * 30 }}" cy="0" r="11" class="hlc" ng-show="isOver[$index]" />
	  <circle ng-repeat="col in row track by $index" cx="{{ $index * 30 }}" cy="0" r="10" stroke="black" ng-class="col" ng-click="move($index)" ng-mouseover="over($index)" ng-mouseleave="leave($index)"/>
	</g>
      </svg>


      <div class="ai">
	<form class="form-horizontal" role="form">
	  <label for="movesAhead">Moves to to think ahead</label>
	  <input type="integer" class="movesAhead" id="movesAhead" ng-model="look_ahead" />
	</form>
      </div>
      
    </div>
  </body>

</html>
